*{  margin: 0;
    box-sizing: border-box;

}
body{
    background-image:url(image/fondo.jpg);
    background-size: cover;
    height: 100vb; /*tamaño de la pantalla*/
    width: 100%;    
} 
.logo{
   max-width: 100%;
   height: auto;
}

.logo img{
    width: 230px; 
}
header {
    height: 70px; /* Ajusta la altura según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 5px;
    background-color: #fff;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none; /*le saque el subrayado de link*/
    color: rgb(3, 42, 92);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style: none; /*desaparezcan los puntos de lista*/
}
.contenedor {
    height: auto;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.section1{
    width: 50%; /*para que ocupe mitad y mitad de contenedor*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    width: 370px;
    color: #000441;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: #f0f8fd;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0.1);
    border-radius: 20px; /*redondear bordes*/
}
h1{
    color: #000441;
    font-size: 23px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000441;
    text-align: center;
}
p{
    color: #000441;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    width: 230px;
    align-self: center;
}
.input-group{
    display:flex;
    flex-direction: column; /*Poner en columnas*/
    text-align: left; /*Poner texto a la izquierda*/
}
label{
    margin-bottom: 5px;
}
input, textarea{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: #e3edf0;
    border: 2px solid #F0FAF1;
    color: rgb(25, 49, 30);
    outline: none; /*quitar borde de los input*/
}
.othertext {
    margin-bottom: 20px;
    display:flex; /*separa política de términos*/
    justify-content: space-between;
    text-align: center;
}
.othertext a {
    color:#7692b2;
    font-size: 12px;
    text-decoration: none;/*para quitar enlaces de links*/
    font-weight: 600; /*grosor de las letras*/

}
button{
    font-size: 12px;
    color:#FFFF;
    border: 0 ;
    border-radius: 25px;
    background-color: #000441;
    box-shadow: 0 0 5px rgb(6, 35, 78);
    cursor:pointer; 
    padding: 9px 13px;
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
footer{
    display: flex;
    justify-content: center;
    color:#000441;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: 13px; 
}
@media only screen and (max-width: 900px) {
    nav {
       display: none;
    }
    header{
        display: flex;
        justify-content: center;
    }
   .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
}